<nav class="navbar navbar-dark navbar-expand-sm">
  <div class="container-fluid">
    <div style="font-weight: bold; font-size: 40px; margin-left: 45px; padding-top: 16px;">
      GameCity
    </div>
    <h3 style="font-weight: bold; margin-left: 45px; font-family: cursive; margin-top: 2px;">The next generation of gaming is here.</h3>
    <div id="navbar_menu">
      <ul class="navbar-nav">

          <button class="btn-primary" style="float:right; margin-top: -60px; margin-right: 49px;" (click)="openDialog()">Add Game Details </button>

      </ul>
    </div>
  </div>
</nav>




